*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-size: cover; 
    
}

.container{
   
    color: black;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 36%;
    width: 100%;
    max-width: 380px ;
    padding: 20px 20px ;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    text-align: center;
    
}

.container h1{
    display: inline-block;
    font-size: 35px;
    margin-bottom: 20px;
    padding: 13px 0;

}

.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid white;
   

}

.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;

}

.box i{
  
    width: 25px;
    text-align: center;
}

/* .form{
    position: relative;
    width: 100%;
    max-width: 380px ;
    padding: 20px 20px ;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    text-align: center;
} */

.btn{
    color: white;
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 20px 10px;
    padding: 10px 2px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;

}

.btn:hover{
    color: black;
    background: white;
}
